body {
    background: linear-gradient(135deg, #6f9dce, #0057b349);
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    direction: rtl;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    color: #333;
}

h1 {
    text-align: center;
    color: #007bff;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#question {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: right;
}

#answer-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
}

.btn {
    background-color: #f8f8f8;
    color: #333;
    font-weight: 500;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: right;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background-color: #e2e6ea;
}

.btn[disabled] {
    cursor: no-drop;
}

/* تنسيق الإجابة الصحيحة والخاطئة */
.btn.correct {
    background-color: #28a745;
    color: white;
}

.btn.incorrect {
    background-color: #dc3545;
    color: white;
}

#next-button {
    background-color: #007bff;
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    margin-top: 20px;
}

#next-button:hover {
    background-color: #0056b3;
}